@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?wpff8c') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wpff8c') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wpff8c') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wpff8c##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.media-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.media-icon-file-vector {
  &:before {
    content: $media-icon-file-vector; 
  }
}
.media-icon-image {
  &:before {
    content: $media-icon-image; 
  }
}
.media-icon-images {
  &:before {
    content: $media-icon-images; 
  }
}
.media-icon-remote-video {
  &:before {
    content: $media-icon-remote-video; 
  }
}
.media-icon-file-empty {
  &:before {
    content: $media-icon-file-empty; 
  }
}
.media-icon-file-text {
  &:before {
    content: $media-icon-file-text; 
  }
}
.media-icon-file-image {
  &:before {
    content: $media-icon-file-image; 
  }
}
.media-icon-file-audio {
  &:before {
    content: $media-icon-file-audio; 
  }
}
.media-icon-file-video {
  &:before {
    content: $media-icon-file-video; 
  }
}
.media-icon-file-code {
  &:before {
    content: $media-icon-file-code; 
  }
}
.media-icon-vector {
  &:before {
    content: $media-icon-vector; 
  }
}

