@font-face {
  font-family: 'drowl-media';
  src:
  url('fonts/drowl-media.woff2?wpff8c') format('woff2'),
  url('fonts/drowl-media.ttf?wpff8c') format('truetype'),
  url('fonts/drowl-media.woff?wpff8c') format('woff'),
  url('fonts/drowl-media.svg?wpff8c#drowl-media') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.media-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'drowl-media' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.media-icon-file-vector:before {
  content: "\e900";
}
.media-icon-image:before {
  content: "\e93f";
}
.media-icon-images:before {
  content: "\e940";
}
.media-icon-remote-video:before {
  content: "\e957";
}
.media-icon-file-empty:before {
  content: "\e99e";
}
.media-icon-file-text:before {
  content: "\e9ae";
}
.media-icon-file-image:before {
  content: "\e9b0";
}
.media-icon-file-audio:before {
  content: "\e9b2";
}
.media-icon-file-video:before {
  content: "\e9b4";
}
.media-icon-file-code:before {
  content: "\e9be";
}
.media-icon-vector:before {
  content: "\ee80";
}
