$icomoon-font-family: "drowl-media" !default;
$icomoon-font-path: "fonts" !default;

$media-icon-file-vector: "\e900";
$media-icon-image: "\e93f";
$media-icon-images: "\e940";
$media-icon-remote-video: "\e957";
$media-icon-file-empty: "\e99e";
$media-icon-file-text: "\e9ae";
$media-icon-file-image: "\e9b0";
$media-icon-file-audio: "\e9b2";
$media-icon-file-video: "\e9b4";
$media-icon-file-code: "\e9be";
$media-icon-vector: "\ee80";

