@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "./node_modules/drowl-sass-base/all_mixins";

// Slideshows
.media-slideshow {
  --media-slideshow-limited-height: auto;
  .slick {
    height: var(--media-slideshow-limited-height);
  }
  &--height-auto {
    --media-slideshow-limited-height: auto !important;
    .media-slide--media-size-original .media-slide__media {
      padding: 0;
    }
  }
  // Set a fix height to prevent the header slideshow from getting to high
  // This is also the default + fallback option
  &--height-limited,
  &:not([class*="media-slideshow--height"]) {
    $default-header-image-height: 600px !default;
    --media-slideshow-limited-height: #{$default-header-image-height} !important;
    // !! Use the following block in your child theme, if the height (drowl_child uses this by default)
    // should be limited only for larger devices.
    // --media-slideshow-limited-height: auto !important;
    // @include breakpoint($default-header-image-breakpoint) {
    //   --media-slideshow-limited-height: #{$default-header-image-height} !important;
    // }
  }
  &--height-viewport {
    // Set fallback value - the actual value is determined by JS.
    --page-header-height: 145px;
    --media-slideshow-limited-height: calc(
      100vh - var(--page-header-height, 70vh)
    ) !important;
  }
}
