@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "./node_modules/drowl-sass-base/all_mixins";

// Documents
.media-document {
  &.media-entity--card {
    // Center the documents preview image on dark background instead cutting it off (like it is in regular cards)
    .card__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: var(--dark-gray);
      padding: 1.5rem;
      .field--type-image {
        background: $white;
        line-height: 1;
        max-width: 180px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      }
    }
    // Till we have a better download-link formatter to link the image - we link the whole card/tile
    .card__buttons {
      position: static;
      .file-download::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  &.media-entity--media-object {
    .media-object__image {
      width: 110px;
      margin-right: var(--space-md, 1rem);
    }
  }
}
