@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "./node_modules/drowl-sass-base/all_mixins";

// Video / Remote Video
.media--bundle--remote-video {
  // Till we understood the purpose of this "close"-button - hide it.
  .media__icon--close {
    display: none !important;
  }
}
