@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "./node_modules/drowl-sass-base/all_mixins";

.media-entity {
  // View modes
  &--link {
    display: inline-block;
  }
}

// Animation Wrapper
// This wrapper is currently only used in media slides, but might usefull in general.
// It basically ensures that animations dont break outside the image wrapper and weirdly
// overlay the rest of the page (eg. ken burns animation).
.animation-wrapper {
  overflow: hidden;
  &--fixed-ratio {
    // Fixed ratio is used to ensure, even slides with the "image size original"-option
    // have some kind of an equal size.
    // Hint: The correct aspect-ratio is set as inline stlye dynamically in the media-
    // slide Twig template.
    aspect-ratio: 16/9;
  }
}
