{% extends "@drowl_media_types/media--drowl-media-types--document.html.twig" %}

{% block media_wrapper %}
  {%
    set card_classes = [
      'card'
    ]
  %}
  {% set card_body_classes = 'card-body' %}
  <div{{ attributes.addClass(classes).addClass(card_classes) }}>
    {{ title_suffix.contextual_links }}
    {% block content %}
      {% block preview_image %}
        <div class="card-image">
          {{ parent() }}
        </div>
      {% endblock %}
      {% block document_link %}
        <div class="{{ card_body_classes }}">
          <div class="card-buttons">
            {{ parent() }}
          </div>
        </div>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
