{% extends "@drowl_media_types/media--drowl-media-types.html.twig" %}

{# Set formatter class for the customer specific options #}
{% if media.field_slide_height.0.value %}
  {% set attributes = attributes.addClass('media-slideshow--height-' ~  media.field_slide_height.0.value|clean_class) %}
{% endif %}

{% block media_wrapper %}
  {{ parent() }}
{% endblock %}
