{% extends "@drowl_media_types/media--drowl-media-types--document.html.twig" %}

{% block media_wrapper %}
  {% set has_image = content.field_media_image.0 %}
  {%
    set media_object_classes = [
      'card',
      'card--horizontal',
      not has_image ? 'card--no-image'
    ]
  %}
  <div{{ attributes.addClass(classes).addClass(media_object_classes) }}>
    {{ title_suffix.contextual_links }}
    {% block content %}
      <div class="row g-0">
        {% block preview_image %}
          {% if has_image %}
            <div class="col-md-4">
              <div class="card-image">
                {{ parent() }}
              </div>
            </div>
          {% endif %}
        {% endblock %}
        {% block document_link %}
          <div class="{% if has_image %}col-md-8{% else %}col-12{% endif %}">
            {% set document_title = elements['#media'].field_media_document.description ? elements['#media'].field_media_document.description : elements['#media'].field_media_document.entity.getFilename() %}
            {% set button_label = 'Download'|t %}
            <div class="card-body">
              <div class="card-title">
                <strong>{{ document_title }}</strong>
              </div>
              <div class="card-buttons">
                {{ parent() }}
              </div>
            </div>
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}

