{% extends "@drowl_media_types/media--drowl-media-types.html.twig" %}

{% block content %}
  {% if media.field_media_image.0 %}
    {% set svg_image_url = file_url(media.field_media_image.0|file_uri) %}
    {% set svg_image_title = media.field_media_image.0.value.title %}
    {% set show_as_markup = media.field_svg_as_markup.value %}
    {% if show_as_markup and svg_image_url %}
      <div class="media-vector-image__markup" {% if svg_image_title is not empty %}aria-label="{{ svg_image_title }}"{% endif %}>
        {{ source(svg_image_url) }}
      </div>
    {% else %}
      {{ content }}
    {% endif %}
  {% endif %}
{% endblock %}
