{% extends "@drowl_media_types/media--drowl-media-types--document--card.html.twig" %}

{% block media_wrapper %}
  {%
    set card_classes = [
      'card',
      'card--tile'
    ]
  %}
  {% set card_body_classes = 'card-img-overlay' %}
  <div{{ attributes.addClass(classes).addClass(card_classes) }}>
    {{ title_suffix.contextual_links }}
    {% block content %}
      {{ parent() }}
    {% endblock %}
  </div>
{% endblock %}

