{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{# Added some twig blocks and classes #}
{% set classes = [
  'media-entity',
  attributes.hasClass('align-right') ? 'embed-right',
  attributes.hasClass('align-left') ? 'embed-left',
  media.bundle() ? 'media-' ~ media.bundle()|clean_class,
  view_mode ? 'media-entity--' ~ view_mode|clean_class
]
%}

{% block media_wrapper %}
  <article{{ attributes.addClass(classes) }}>
    {% include "@drowl_media_types/inc/__unpublished_label.html.twig" %}
    {{ title_suffix.contextual_links }}
    {% if content %}
      {% block content %}
        {{ content }}
      {% endblock %}
    {% endif %}
  </article>
{% endblock %}
