@mixin bulk-checkbox-style() {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  right: 0;
  left: auto;
  .form-item {
    margin: 0 !important;
  }
  .form-boolean {
    width: 29px;
    height: 29px;
    box-shadow: none;
    border-width: 0 0 1px 1px;
    border-radius: 0;
    background-size: 18px !important;
    &:not(:hover):not(:checked) {
      border-color: var(--drowl-gray-light, #eee) !important;
    }
    &:hover {
      border-color: var(--selection-color, blue) !important;
    }
    &:checked {
      border-color: var(--selection-color, blue) !important;
    }
  }
}

@mixin bulk-checkbox-state-hover-unselected() {
  border-color: var(--selection-color) !important;
  background-color: var(--drowl-info-light);
}
