@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "../../fonts/media-icons/variables";
@import "./node_modules/drowl-sass-base/all_mixins";
@import "_admin_mixins";

$media-icons-font-family: "drowl-media";

.media-library-item--grid {
  .views-field-views-bulk-operations-bulk-form {
    @include bulk-checkbox-style();
  }
  // States
  &.is-hover {
    .views-field-views-bulk-operations-bulk-form {
      .form-boolean:not(:hover):not(:checked) {
        @include bulk-checkbox-state-hover-unselected();
      }
    }
  }
}
