// !! DEPRECATED: Legacy styles for claro, we dont support this in
//
@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "../../fonts/media-icons/variables";
@import "./node_modules/drowl-sass-base/all_mixins";

$media-icons-font-family: "drowl-media";

// =============================================================
// Media Library Overviews
// - Improve media library view with css grid
// =============================================================

.media-library-view .media-library-views-form .media-library-views-form__rows {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: grid;
  grid-gap: var(--grid-gutter-half);
  grid-template-columns: repeat(5, 1fr);
  > :not(.media-library-item) {
    grid-column: span 5;
  }
  > .media-library-item {
    max-width: none;
    width: auto;
    margin: 0;
    padding: 0;
    border-width: 1px;
  }
}
.media-library-wrapper .view-footer {
  // The footer sometimes holds the result count, page count, ...
  order: 5;
  flex-basis: 100%;
  margin-top: 1rem;
}

// =============================================================
// Media Modals
// =============================================================

.ui-dialog-content > .media-library-wrapper {
  display: flex !important;
}
.media-library-content {
  // This wrapper seems to only exist inside media modals
  width: auto !important;
  min-width: 0;
}

// =============================================================
// Media Library Items
// =============================================================
.media-library-item {
  position: relative;
  border: 2px solid var(--adminimal-grey-light);
  transition-duration: 150ms;
  transition-property: border-color;
  &__attributes {
    /* core positioned this absolute, unclear why. */
    position: static;
    padding: 0.25em 0 0 0;
    max-height: none;
    max-width: none;
  }
  &__name {
    white-space: normal;
  }
  &__preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    /* Position base for the document file name */
    margin-left: calc(var(--grid-gutter-half) * -1);
    margin-right: calc(var(--grid-gutter-half) * -1);
    padding-bottom: 0;
    /* core reservers some space here? unclear why */
    min-height: 180px;
    overflow: hidden;
    background: var(--adminimal-grey-light);
    > *:first-child {
      grid-column: span 4;
      max-width: none;
      height: 165px;
      width: 100%;
    }
    > *:not(:first-child) {
      height: 42px;
    }
    .field {
      *:not(img) {
        height: 100%;
      }
      img {
        position: static;
      }
    }
  }
  // Status
  &:hover {
    border-color: var(--adminimal-primary-light);
  }
  &.checked {
    border-color: var(--adminimal-primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  // Allow to select the media id
  &__media-id {
    user-select: all !important;
  }
}

.media-library-item__preview {
  > img,
  > picture,
  video,
  > .field--type-image,
  > .field--type-video-embed-field {
    transition-duration: 100ms;
    transition-delay: 1s;
    transition-property: flex;
    object-fit: cover;
  }
  > .field--type-image img {
    // Single images (?)
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  > *:not(img):not(picture):not(.field--type-image):not(
      .field--type-video-embed-field
    ) {
    // Position misc fields on 100% width at the bottom
    flex: 0 0 100%;
    order: 99;
    padding-left: var(--grid-gutter-half);
    padding-right: var(--grid-gutter-half);
  }
  > .field--type-language {
    align-self: flex-end;
    grid-column: span 4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    background: white;
    opacity: 1;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.35);
  }
  > .field--name-field-document.field--type-file {
    // Currently we dont have a preview image for documents, so make
    // the filename kinda preview image
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--adminimal-grey-light);
    max-height: 120px;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 100%;
    white-space: unset;
    word-break: break-all;
    text-align: right;
  }
  // Hide some fields
  > .field--name-field-image-caption,
  > .field--name-field-media-tags {
    display: none;
  }
  &:hover {
    > .field--type-language {
      color: #222330;
    }
  }
}

.media-library-item__preview img,
.media-library-item__preview video,
.field--name-field-video div {
  height: 100%;
  object-fit: cover;
}

/* Fix Media Preview label position in media entity previews */
.entities-list.entity-type--media .rendered-entity {
  position: relative;
}

// =============================================================
// Media Library Grid Items
// =============================================================
.media-library-item--grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 360px;
  .field--name-thumbnail {
    margin-left: -var(--grid-gutter-half);
    margin-right: -var(--grid-gutter-half);
    line-height: 0;
    img {
      object-fit: cover;
      height: 10vw;
      min-height: 120px;
      max-height: 280px;
      max-width: none;
      width: 100%;
    }
    + .field--name-field-document.field--type-file {
      // Style filename as badge / label if a preview image is present
      text-align: center;
      min-height: 0;
      height: auto;
      position: absolute;
      right: 0;
      padding: 2px 5px;
      top: 15px;
      max-width: 90%;
      background-color: var(--white-glass);
      a {
        display: block;
        direction: rtl;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        text-align: right;
      }
      &:hover {
        a {
          white-space: normal;
        }
      }
    }
  }
  .views-field-bundle {
    padding: 4px var(--grid-gutter-half);
    font-size: 0.75em;
    font-weight: bold;
    color: var(--adminimal-primary-light);
  }

  .views-field-operations {
    // Single Media item Operations
    .dropbutton-wrapper {
      display: flex;
      box-shadow: none;
    }
    .dropbutton-widget {
      border-width: 1px 0 0 0 !important;
      border-color: var(--adminimal-grey-light) !important;
      background: white !important;
    }
    .dropbutton__item a,
    .dropbutton__toggle {
      border-radius: 0 !important;
    }
    .dropbutton-action a {
      padding-left: var(--grid-gutter-half) !important;
    }
  }
}

// =============================================================
// Bulk Operations
// -- TODO: Especially the checkbox thing might need a rewrite
// =============================================================

// Bulk Form on top
.media-library-views-form__header + .media-library-select-all {
  padding-left: var(--grid-gutter-half);
  padding-right: var(--grid-gutter-half);
  margin-bottom: 1rem;
}

.media-library-select-all {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.media-library-select-all > input {
  margin-right: 0.5rem;
}

.media-library-views-form > .form-actions {
  margin-top: 1rem;
  padding-left: var(--grid-gutter-half);
  padding-right: var(--grid-gutter-half);
}

// Bulk Checkbox in items
.media-library-item--grid .js-click-to-select-checkbox,
[class*="entity-browser-media-browser"]
  .media-library-view
  .views-field-entity-browser-select {
  position: absolute;
  left: auto !important;
  right: 0 !important;
  /* No matter what weight we set for our css file media_library.module.css overrideds em, so... */
  top: 0 !important;
  padding: 4px 4px 5px 5px;
  background: var(--adminimal-primary);
  line-height: 0;
  border-radius: 0 0 0 4px;
  transition-duration: 100ms;
  transition-property: transform;
  transition-delay: 500ms;
  transform-origin: right top;
}

.media-library-item--grid .js-click-to-select-checkbox .form-item,
.media-library-item--grid .js-click-to-select-checkbox .form-checkbox,
[class*="entity-browser-media-browser"]
  .media-library-view
  .views-field-entity-browser-select
  .form-item,
[class*="entity-browser-media-browser"]
  .media-library-view
  .views-field-entity-browser-select
  .form-type-checkbox {
  margin: 0;
  line-height: 1;
}

.media-library-item--grid:hover .js-click-to-select-checkbox {
  transform: scale(1.1);
}

.media-library-item--grid .js-click-to-select-checkbox input,
[class*="entity-browser-media-browser"]
  .media-library-view
  .views-field-entity-browser-select
  input {
  position: static;
  /* Adminimal theme fix */
  margin: 0 1px 0 0;
  border: 0 none;
  border-radius: 0 0 0 2px;
  box-shadow: none !important;
  cursor: pointer;
}

.media-library-item--grid .form-boolean--type-checkbox:not(:checked),
[class*="entity-browser-media-browser"]
  .media-library-view
  .form-boolean--type-checkbox:not(:checked) {
  background-image: none;
  background-color: var(--adminimal-primary-light);
  box-shadow: inset 0 0 0 1px white !important;
}

.media-library-item--grid .form-boolean--type-checkbox:not(:checked):hover,
[class*="entity-browser-media-browser"]
  .media-library-view
  .form-boolean--type-checkbox:not(:checked):hover {
  background-color: white;
}

.media-library-item--grid .form-boolean--type-checkbox:checked,
[class*="entity-browser-media-browser"]
  .media-library-view
  .form-boolean--type-checkbox:checked {
  background-color: transparent;
  color: white;
}

.media-library-item--grid .form-boolean--type-checkbox:checked:hover,
[class*="entity-browser-media-browser"]
  .media-library-view
  .form-boolean--type-checkbox:checked:hover {
  background-color: var(--adminimal-primary-light);
  color: rgba(255, 255, 255, 0.65);
}

.media-library-item--grid .views-field-rendered-entity {
  padding: 0 var(--grid-gutter-half) var(--grid-gutter-half)
    var(--grid-gutter-half);
  flex-grow: 1;
  cursor: cell;
}

.media-library-item__preview > .field--name-field-document.field--type-file a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.35);
}

// =============================================================
// Reference field preview cards
// =============================================================

.media-library-selection {
  .media-library-item__preview {
    margin-left: 0;
    margin-right: 0;
  }
  .media-library-item__attributes {
    padding-left: var(--grid-gutter-half);
    padding-right: var(--grid-gutter-half);
    width: auto;
  }
}

// =============================================================
// Bundle / Type Icons
// =============================================================

[class*="media-library-item--bundle"] .views-field-bundle::before {
  // Default / fallback icon
  content: $media-icon-file-empty;
  font-family: $media-icons-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 18px;
  color: var(--adminimal-primary);
}

.media-library-item[class*="media-library-item--bundle"] .views-field-bundle {
  position: relative;
  flex: 0 1 auto;
  align-self: flex-start;
}

.media-library-item[class*="media-library-item--bundle"]
  .views-field-bundle
  > .field-content {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: calc(-0.5em + -4px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.media-library-item {
  &--bundle-video .views-field-bundle::before {
    content: $media-icon-file-video;
  }
  &--bundle-remote-video .views-field-bundle::before {
    content: $media-icon-file-video;
  }
  &--bundle-slideshow .views-field-bundle::before {
    content: $media-icon-images;
  }
  &--bundle-slide .views-field-bundle::before {
    content: $media-icon-image;
  }
  &--bundle-image .views-field-bundle::before {
    content: $media-icon-file-image;
  }
  &--bundle-document .views-field-bundle::before {
    content: $media-icon-file-text;
  }
  &--bundle-audio .views-field-bundle::before {
    content: $media-icon-file-audio;
  }
  &--bundle-vector-image .views-field-bundle::before {
    content: $media-icon-file-vector;
  }
}

// =============================================================
// Misc Bugfixes
// =============================================================

// Remove responsive hack from html 5 videos (causes height issue and
// is just needed for iframes)
.video-embed-field-provider-html-5::after {
  display: none;
}

// Prevent videos from being played on click instead the bulk item is
// getting selected (regular behavoir) */
.media-library-item__preview iframe,
.media-library-item__preview video {
  pointer-events: none;
}

// Prevent showing the full media title if the item is selected,
// especialy if "select all media items" is used, the whole grid is "jumping"
.media-library-item--grid.checked .media-library-item__name a {
  white-space: nowrap;
}

// Widget: If the choosable item amount is limited, core disables items via
// pointer-events:none, but the contents still selectable what looks kinda
// ugly, prevent this
.media-library-item--disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Fix media entity browser also (further fixex above - search for
// [class*="entity-browser-media-browser"])
[class*="entity-browser-media-browser"] {
  .media-library-view > .view-content {
    display: flex;
    flex-wrap: wrap;
  }
  .media-library-view > .view-content > .media-library-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
