@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "./node_modules/drowl-sass-base/all_mixins";

:root {
  --adminimal-primary: #327ebd;
  --adminimal-primary-light: #8abbe4;
  --adminimal-grey-light: #dbdbdb;
  --white-glass: rgba(255, 255, 255, 0.65);
  --grid-gutter-half: 8px;
}

/* DROWL Media Iconfont (https://icomoon.io) */
$icomoon-font-path: "../../fonts/media-icons/fonts";
$icomoon-font-family: "drowl-media";
@import "../../fonts/media-icons/style.scss";
