@use "sass:math";
@import "./node_modules/drowl-base-theme-iconset/variables";
@import "./node_modules/drowl-sass-base/_configuration/defaults";
@import "./node_modules/drowl-admin-iconset/variables";
@import "../../fonts/media-icons/variables";
@import "./node_modules/drowl-sass-base/all_mixins";
@import "_admin_mixins";

$media-icons-font-family: "drowl-media";

// Heigher Selector specifity by wrapping alls styles into body
// otherwise GIN styles will override our styles.
body {
  // =============================================================
  // Media Library Grids
  // - Improve with CSS Grid
  // =============================================================

  .media-library-views-form__rows,
  .media-library-view--drowl-header-slideshow > .view-content {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    > *:not(.media-library-item) {
      grid-column: 1 / -1;
      margin: 0;
      width: auto;
    }
  }

  // media_library.css adss a flex-wrap: initial - this break our whole layout
  .media-library-views-form {
    flex-flow: row wrap !important;
  }

  // =============================================================
  // Media Library Cards
  // - We only care for grid-items ("cards") not for lists/tables
  // =============================================================

  // Media Entity Preview
  // The preview is used in multiple contexts
  .media-library-item {
    background: white;
    .field--name-name,
    .field--name-name * {
      font-weight: bold;
      margin-bottom: 0.75em;
      color: var(--drowl-gray-darker, #000);
      font-size: var(--drowl-font-size-base);
      hyphens: auto;
    }
    &__name {
      font-size: var(--drowl-font-size-base);
      color: var(--drowl-text-color);
      word-break: normal;
      hyphens: auto;
    }
    &__metadata {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      gap: 0.5rem;
      font-size: var(--drowl-font-size-small);
      color: #808080;
      margin-top: 0.35em;
      overflow: hidden;
      transition-duration: 15ms;
    }
    &__language {
      grid-column: 1/2;
    }
    &__language,
    &__media-id {
      grid-row: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
      &:hover {
        // Overlay the opponent on hover, so even longer text will be visible then
        min-width: min-content;
        background: white;
        position: relative;
        z-index: 1;
      }
    }
    &__media-id {
      text-align: right;
    }
    &__authored {
      border-top: 1px solid var(--drowl-gray-light);
      padding: 0.5rem 1rem;
      margin: 1rem -1rem 0.5rem -1rem !important;
    }
    .views-field-rendered-entity {
      flex-grow: 1;
    }
    .media-library-item__content,
    .media-library-item__preview-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .media-library-item__preview {
      flex: 0 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      position: relative;
      border: 0 none;
      border-radius: 0;
      padding: 0;
      overflow: hidden;
      background: var(--drowl-gray-light);
      box-shadow: none !important;
      // Fallback for items w/o any preview content - otherwise the absolute positioned UI elements will overlap the
      // contents beyond
      min-height: 100px;
      > *:first-child {
        grid-column: span 4;
        max-width: none;
        height: 165px;
        width: 100%;
      }
      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }
      .media-library-item__preview-wrapper {
        // No grid for nested media previews
        .media-library-item__preview {
          display: block;
        }
        // Show only the preview image of nested media preview entities
        .media-library-item__preview > *:not(img),
        .media-library-item__attributes {
          display: none !important;
        }
      }
      // Hide Fallback Media Thumbnail if a better preview is available
      img {
        + .field--name-thumbnail {
          display: none !important;
        }
      }
    }
    &__preview-item {
      height: 42px;
      position: relative;
      &:first-child {
        background-color: white;
        grid-column: 1 / -1;
        height: auto;
        img {
          height: 100%;
        }
      }
      &--video-preview-image {
        &::before {
          font-family: $media-icons-font-family;
          content: $media-icon-file-video;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: var(--drowl-white-glass);
          color: var(--drowl-black-glass);
        }
        // Lower video icon opacity, so the user is able to see the video thumbnail on hover
        &:hover::before {
          opacity: 0.2;
        }
      }
      // Use the media core thumbnail just as a fallback, if nothing else
      // is present
      &--thumbnail:not(:first-child) {
        display: none;
      }
    }
    &__attributes {
      max-width: none;
      padding: 0.85em calc(var(--grid-gutter) * 2);
      margin: 0 calc(var(--grid-gutter) * -1) calc(var(--grid-gutter) * -1);
      border-top: 1px solid var(--drowl-gray-light);
      font-size: var(--drowl-font-size-small);
      line-height: 1.25;
      color: var(--drowl-gray-dark);
      user-select: none;
    }
    // Info layer (custom implementation for misc data fields in render array)
    &__info-link {
      position: absolute;
      z-index: 55;
      padding: 5px;
      right: 5px;
      top: 5px;
      line-height: 1;
      border: 0 none !important;
      border-radius: 50%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--drowl-info);
      cursor: pointer;
      &:focus {
        box-shadow: none;
      }
      .drowl-admin-ico-remove-circle {
        display: none;
      }
    }
    &__info-layer {
      display: none;
      position: absolute;
      top: calc(var(--grid-gutter) * -1);
      left: calc(var(--grid-gutter) * -1);
      right: calc(var(--grid-gutter) * -1);
      bottom: calc(var(--grid-gutter) * -1);
      z-index: 54;
      padding: 1rem;
      background: white;
      color: var(--drowl-gray-dark);
      overflow-y: auto;
      scrollbar-width: thin;
      cursor: default;
      * {
        font-size: var(--drowl-font-size-small, 16px);
        margin: 0;
      }
      > * {
        margin-bottom: 0.5em;
      }
      .field--name-name:first-child {
        // Reserve space for the toggle button on the top right
        padding-right: 30px;
      }
      .field--name-field-media-folder,
      .field--name-field-media-tags {
        overflow: hidden;
        padding-left: 20px;
        position: relative;
        &::before {
          font-family: $admin-iconfont-family;
          vertical-align: middle;
          margin-left: -20px;
          margin-top: 0.3em;
          float: left;
        }
        .field__label {
          display: none;
        }
        .field__item {
          background-color: var(--drowl-gray-light);
          color: var(--drowl-gray-dark);
          display: inline-block;
          padding: 0.25em 0.85em;
          border-radius: 1em;
          font-size: 12px;
          margin: 3px 2px 3px 0;
        }
      }
      .field--name-field-media-folder {
        &::before {
          content: $drowl-admin-ico-folder;
        }
      }
      .field--name-field-media-tags {
        &::before {
          content: $drowl-admin-ico-tag;
        }
      }
    }
    &--info-layer-visible {
      .media-library-item__info-layer {
        display: block;
      }
      .media-library-item__info-link {
        color: white;
        background: var(--drowl-info);
        .drowl-admin-ico-info-circle {
          display: none;
        }
        .drowl-admin-ico-remove-circle {
          display: block;
        }
      }
    }
  }

  .media-library-item--grid {
    --grid-gutter: 5px;
    --border-radius: var(--drowl-border-radius-small);
    --selection-color: var(--drowl-info);
    --muted: #808080;
    width: auto !important;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--drowl-gray-light);
    border-radius: var(--border-radius);
    padding: var(--grid-gutter);
    .media-library-item__click-to-select-checkbox {
      @include bulk-checkbox-style();
    }
    > .views-field-bundle {
      order: -99;
      margin: calc(var(--grid-gutter) * -1) calc(var(--grid-gutter) * -1)
        var(--grid-gutter);
      padding: var(--grid-gutter) calc(var(--grid-gutter) * 2);
      border-bottom: 1px solid var(--drowl-gray-light);
      font-size: var(--drowl-font-size-small);
      user-select: none;
    }
    > .views-field-operations {
      order: 99;
      margin: var(--grid-gutter) calc(var(--grid-gutter) * -1)
        calc(var(--grid-gutter) * -1);
      border-top: 1px solid var(--drowl-gray-light);
      .dropbutton-wrapper {
        display: flex;
        box-shadow: none;
        border-radius: 0;
      }
      .dropbutton {
        border-color: transparent;
        border-radius: 0;
      }
      .dropbutton-action {
        > a {
          padding-left: var(--grid-gutter);
        }
      }
    }
    // States
    &.is-hover {
      border-color: var(--selection-color);
      // Show the bulk operations checkbox so the user
      // is aware of its existence.
      .media-library-item__click-to-select-checkbox
        .form-boolean:not(:hover):not(:checked) {
        @include bulk-checkbox-state-hover-unselected();
      }
    }
    &.checked {
      border-color: var(--selection-color);
      outline: 2px solid var(--selection-color);
      img {
        filter: saturate(180%);
      }
    }
  }

  // =============================================================
  // Bundle / Type Icons
  // =============================================================

  [class*="media-library-item--bundle"] .views-field-bundle {
    display: flex;
    align-items: center;
    gap: 7px;
    &::before {
      // Default / fallback icon
      content: $media-icon-file-empty;
      font-family: $media-icons-font-family;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 18px;
      color: var(--drowl-info);
    }
  }

  .media-library-item {
    &--bundle-video .views-field-bundle::before {
      content: $media-icon-file-video;
    }
    &--bundle-remote-video .views-field-bundle::before {
      content: $media-icon-file-video;
    }
    &--bundle-slideshow .views-field-bundle::before {
      content: $media-icon-images;
    }
    &--bundle-slide .views-field-bundle::before {
      content: $media-icon-image;
    }
    &--bundle-image .views-field-bundle::before {
      content: $media-icon-file-image;
    }
    &--bundle-document .views-field-bundle::before {
      content: $media-icon-file-text;
    }
    &--bundle-audio .views-field-bundle::before {
      content: $media-icon-file-audio;
    }
    &--bundle-vector-image .views-field-bundle::before {
      content: $media-icon-file-vector;
    }
  }

  // =============================================================
  // Media Library Page
  // =============================================================

  // Grey out unselected media items while selecting
  .media-library-views-form__header.is-sticky {
    + .media-library-views-form__rows {
      .media-library-item:not(.checked):not(.is-hover) {
        img,
        video,
        iframe {
          filter: grayscale(85%);
        }
      }
    }
  }

  // Better Style for the ugly bulk edit options pop-in
  .block-system > .views-form [data-drupal-selector*="edit-header"].is-sticky,
  .view-content .views-form [data-drupal-selector*="edit-header"].is-sticky {
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-top: 5px solid var(--drowl-info);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    .form-item__label {
      color: var(--drowl-info);
    }
  }

  // =============================================================
  // Reference field preview cards
  // =============================================================

  .media-library-selection {
    @extend .media-library-views-form__rows;
    // Fix info layer toggle button in this context
    .media-library-item {
      &:not(.media-library-item--info-layer-visible) {
        .media-library-item__info-link {
          right: auto;
          left: 5px;
        }
      }
    }
    // Fix edit & delete links showing its label on :focus
    .media-library-edit__link {
      font-size: 0px !important;
      color: transparent !important;
    }
  }

  // =============================================================
  // Media Library Add Form (Modal)
  // =============================================================

  .media-library-add-form__preview {
    img {
      // Ensure the image preview is always visible
      position: sticky;
      top: 0;
      align-self: flex-start;
    }
  }
}
