{#
  The contents need to be rendered in this exact order, to prevent
  fields which are already rendered in __preview or __attributes
  are rendered twice in the info-layer.
#}
{% set preview_contents %}
  {% block preview_contents %}
    {# Print all field-types which considered as 'preview content' #}
    {% if content.field_media_image.0 %}
      <div class="media-library-item__preview-item media-library-item__preview-item--image">
        {{ content.field_media_image|field_value }}
      </div>
    {% endif %}
    {% if content.field_media_video.0 %}
      <div class="media-library-item__preview-item media-library-item__preview-item--video">
        {{ content.field_media_video|field_value }}
      </div>
    {% endif %}
    {% if content.thumbnail.0 %}
      <div class="media-library-item__preview-item media-library-item__preview-item--thumbnail">
        {{ content.thumbnail|field_value }}
      </div>
    {% endif %}
  {% endblock preview_contents %}
{% endset %}

{% set attributes_contents %}
  {% block attributes_contents %}
    {# Print all some important fields right under the preview #}
    {% block name %}
      <div class="media-library-item__name">{{ name }}</div>
    {% endblock name %}

    {% block media_metadata %}
      <div class="media-library-item__metadata">
        {% block language %}
          <div class="media-library-item__language"><i class="drowl-admin-ico drowl-admin-ico-language"></i> {{ content.langcode|field_value }}</div>
        {% endblock language %}
        {% block media_id %}
          <div class="media-library-item__media-id"><strong>#</strong> {{ media.id() }}</div>
        {% endblock media_id %}
      </div>
    {% endblock media_metadata %}
  {% endblock %}
{% endset %}

{% set info_layer_contents %}
  {% block info_layer_contents %}
    {# Print all "misc" fields from renderarray #}
    {{ content|without('field_media_image', 'field_media_video', 'thumbnail', 'langcode', 'created', 'uid') }}
    <div class="media-library-item__authored">
      {% apply spaceless %}
        {% if content.created.0 %}
          <i class="drowl-admin-ico drowl-admin-ico-user"></i> {{ content.uid|field_value }}
        {% endif %}
        {% if content.created.0 %} - <em>{{ content.created|field_value }}</em>{% endif %}
      {% endapply %}
    </div>
  {% endblock info_layer_contents %}
{% endset %}

<article{{ attributes.addClass('media-library-item__preview-wrapper') }}>
  {% if info_layer_contents|trim %}
    <button class="media-library-item__info-link" title="{{ 'Toggle further information'|t }}">
      <i class="drowl-admin-ico drowl-admin-ico-info-circle"></i>
      <i class="drowl-admin-ico drowl-admin-ico-remove-circle"></i>
    </button>
  {% endif %}
  {% if content %}
    <div{{ preview_attributes.addClass('media-library-item__preview js-media-library-item-preview') }}>
      {{ preview_contents }}
    </div>
    {% if not status %}
      {% block status %}
        <div class="media-library-item__status">{{ "unpublished"|t }}</div>
      {% endblock status %}
    {% endif %}
    <div{{ metadata_attributes.addClass('media-library-item__attributes') }}>
      {{ attributes_contents }}
    </div>
    {% if info_layer_contents|trim %}
      <div id="media-library-item-info-layer-{{ media.id() }}" class="media-library-item__info-layer">
        {{ info_layer_contents }}
      </div>
    {% endif %}
  {% endif %}
</article>
