{% extends "@drowl_media_types/media-library/media--drowl-media-types--media-library.html.twig" %}

{% block preview_contents %}
  {# Print just the image/video-fields of the referenced slide for the preview #}
  {% if content.field_media_slides_ref.0 %}
    {% for media_slide in content.field_media_slides_ref['#items'] %}
      {% set slide_image_field = drupal_field('field_media_image', 'media', media_slide.target_id, 'media_library') %}
      {% set slide_video_field  = drupal_field('field_media_video', 'media', media_slide.target_id, 'media_library') %}
      {% if slide_image_field.0 %}
        <div class="media-library-item__preview-item media-library-item__preview-item--image{% if slide_video_field.0 %} media-library-item__preview-item--video-preview-image{% endif %}">
          {{ slide_image_field|field_value }}
        </div>
      {% endif %}
      {% if slide_video_field.0 and not slide_image_field.0 %}
        <div class="media-library-item__preview-item media-library-item__preview-item--video media-library-item__preview-item--video-preview-image">
          {{ slide_video_field|field_value }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block info_layer_contents %}
  {# Print all "misc" fields from renderarray #}
  {{ content|without('field_media_image', 'field_media_video', 'thumbnail', 'langcode', 'created', 'uid', 'field_media_slides_ref') }}
{% endblock info_layer_contents %}
